body {
	margin: 0;
	animation: scroll 150s linear infinite;
	background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
	color: #000000;
	height: 100vh;
	background-size: cover;
	perspective: 1000px;
	perspective-origin: 50% 50%;
	font-family: 'Orbitron', sans-serif;
	cursor: crosshair;
}

@keyframes scroll {
	100%{
		background-position:0px -3000px;
	}
}

@media (prefers-reduced-motion) {
	#App {
		animation: scroll 200s linear infinite;
	}
}

h1 { 
	background-color: #0e0e0ee5;
	
	color: #eee;
	text-align: center;

	padding: 15px;
	margin: 0;
}

.gameboard {
	background-color: #8c8c8c8c;
	
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: auto;
	padding: 50px;
	width: 85vw;
}

.row {
	display: grid;
	grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
	height: 40px;
}

.box {
	border: 1px rgba(0, 0, 0, 0.488) solid;
	padding: 10px;

	text-align: center;
	color: #42424295;
	font-size: 0.7rem;
}

/* color of player's boxes on the board */
#mySide .box {
	background-color: rgba(117, 117, 117, 0.67);
}

#mySide .hit {
	background-image: url('./assets/images/boom.png');
	background-size: cover;

	text-align: center;
	color: #42424295;
	font-size: 0.7rem;
}

#mySide .miss {
	background-image: url('./assets/images/space.png');
	background-size: cover;
	text-align: center;
	color: #42424295;
	font-size: 0.7rem;
}

#opponentSide {
	margin-top: 50px;
}

/* color of opponent's boxes on the board */
#opponentSide .box {
	background-color: rgba(236, 234, 233, 0.855);
}

#opponentSide .box:hover {
	background-color: rgba(177, 177, 177, 0.855);
}

.disabledBox {
	border: 1px rgba(0, 0, 0, 0.488) solid;
	padding: 10px;

	text-align: center;
	color: #42424270;
	font-size: 0.7rem;
}

.scoreboard {
	background-color: rgba(228, 229, 229, 0.601);
	height: 120px;
	padding: 3%;
	margin-bottom: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.scoreboard h2 {
	width: 290px;
	height: 40px;

	text-align: center;

	padding-top: 5px;
}

/* give who ever's turn it is this className */
.playersTurn {
	background-color: rgb(178, 187, 193);

	outline: #979a9c solid 2px;
	border-radius: 30px;
}

.ship {
	background-color: rgba(236, 234, 233, 0.553);

	text-align: center;
	color: #42424295;
	font-size: 0.7rem;
}

.hit {
	background-image: url('./assets/images/boom.png');
	background-size: cover;
}

.miss {
	background-image: url('./assets/images/space.png');
	background-size: cover;
}

/**
* OVERLAY DESIGN
*/

.bg-fade {
	width: 100vw;
	height: 100vh;
	position: fixed;


	background: rgb(60,70,80);
	background: linear-gradient(180deg, rgba(60,70,80,0.9) 0%, rgba(60,70,80,0.4) 100%);
}

.card {
	background-color: rgba(228, 229, 229, 0.9);
	position: fixed;
	left: 40vw;
	top: 30vh;

	width: 20vw;
	height: 20vh;

	padding: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
	background-color: rgb(236, 234, 233, 0.855);
	font-family: 'Orbitron', sans-serif;
	padding: 0.5em;
}

.button:hover {
	background-color: rgba(177, 177, 177, 0.855);
}

@media screen and (min-width: 950px) {
	.gameboard {
		flex-direction: row;
		justify-content: space-around;
	}

	#opponentSide {
		margin-top: 0;
	}
}