html, body {
	margin: 0;
	padding: 0;
}


.row {
	display: grid;
	grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
	height: 50px;
}

.box {
	border: 1px black solid;
}

/* color of player's boxes on the board */
#mySide .box {
	background-color: rgb(166, 209, 236);
}

#mySide .hit {
	background-color: green;
}

#mySide .miss {
	background-color: red;
}


/* color of opponent's boxes on the board */
#opponentSide .box {
	background-color: rgb(236, 234, 233);
}

.disabledBox {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.scoreboard {
	background-color: rgb(206, 230, 233);
	padding: 2%;
	width: 40vw;
}

/* give who ever's turn it is this className */
.playersTurn {
	background-color: rgb(67, 90, 104);
	color: rgb(238, 238, 238);
	width: 40%;
}

.ship {
	background-color: rgb(236, 234, 233);
}

.hit {
	background-color: green;
}

.miss {
	background-color: red;
}



/**
* OVERLAY DESIGN
*/

.bg-fade {
	width: 100vw;
	height: 100vh;
	position: fixed;


	background: rgb(60,70,80);
	background: linear-gradient(180deg, rgba(60,70,80,0.9) 0%, rgba(60,70,80,0.4) 100%);
}

.card {
	background-color: beige;
	position: fixed;
	left: 50%;
	top: 50%;

	padding: 2rem;

	border-radius: 2em;

	display: flex;
	flex-direction: column;
	align-items: center;
}