.row {
	display: grid;
	grid-template-columns: 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw;
	/* grid-template-rows: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px; */
}

.box {
	background-color: aquamarine;
	border: 1px black solid;
}